<head>
        <title>mijnQien - Welkom Admin</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="mijnQien.css" />
        <script src="adminlog.js"></script>
    
    </head>
    <div id="topdiv"><img src="logo.svg" style="height: auto; width: 50px; cursor: pointer;" onclick="window.location.href = 'adminlog';">
    </div>
    
    
    <body>
        <h1>          mijnQien</h1>
    <br>
    <br>
        <h1>Welkom Admin</h1>
    
    <style>

    </style>
    <div style = "text-align: center;">
        <button class="button button1" onclick="window.location.href = 'Admin';">Dashboard bekijken</button><br><br>
        <button class="button button1" onclick="window.location.href = 'traineemaken';">Trainee aanmaken</button><br><br>
        <button class="button button1" onclick="formmaken()">Maak lege uren- en decalaratieformulieren voor de huidige maand</button><br><br>
        
        <button class="button button1" onclick="herDeclaForm(1)">Herinnering DeclaForm sturen (-7 dagen)</button><br><br>
        <button class="button button1" onclick="herDeclaForm(2)">Herinnering DeclaForm sturen (-3 dagen)</button><br><br>
        <button class="button button1" onclick="herDeclaForm(3)">Herinnering DeclaForm sturen (+0 dagen)</button><br><br>
        <button class="button button1" onclick="herDeclaForm(4)">Herinnering DeclaForm sturen (+3 dagen)</button><br><br>
        <button class="button button1" onclick="logout()">logOut</button>
      
    </div>
       
        
        
    </form>
    </div>

</body>

</html>