<html>

<head>
    <title>mijnQien - Inloggen</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="mijnQien.css"></link>
    <script>
        function logout() {
        localStorage.clear();
        location.href = "logout";
        }
    </script>
</head>
<div id="topdiv"><img src="logo.svg" style="height: auto; width: 50px; cursor: pointer;" onclick="logout()">
    </div>


<body>
        <h1>          mijnQien</h1>
    <br>
    <br>
    <p style="color: white">klik op logo om uit te loggen</p>
    
<br><br>
    <div style = "text-align: center;">
        <button class="button button1" onclick="window.location.href = 'klantinlog';">klant</button><br><br>
        <button class="button button1"onclick="window.location.href = 'adminlog';">admin</button><br><br>
        <button class="button button1"onclick="window.location.href = 'traineeinlog';">trainee</button><br><br>
    </div>

</body>

</html>