<!DOCTYPE html>
<html>

<head>
    <title>mijnQien - Welkom Trainee</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="mijnQien.css" />

</head>
<div id="topdiv"><img src="logo.svg" style="height: auto; width: 50px; cursor: pointer;" onclick="window.location.href = 'traineeinlog';">


<body>
    <h1>          mijnQien</h1>
<br>
<br>
    <h1>Welkom Trainee</h1>
    <div style = "text-align: center;">
    <button class="button button1" onclick="window.location.href = 'DynamischeUrenForm';">Urenformulier Invullen</button><br><br>
    <button class="button button1" onclick="window.location.href = 'DeclaratieformulierInvullen';">Declaratieformulier Invullen</button>
</div>
        
</body>

</html>